.icono-font{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    svg {
      font-size: 50px;
      color: #ffd43b;
    }
  
    p {
      font-size: 40px;
      color: rgb(48, 46, 73);
    }
  }
  
  
  